.Nav_Bar {
  display: inline-flex;
  width: 100%;
  /* padding: var(--Inner-Radius, 12px) 100px; */
  padding: 12px 0px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  gap: 351px;
  position: fixed;
}

.Nav_Bar a {
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.get_started {
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
